/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import "modules/notes.css";

/* flexit css starts */
.hero__title {
  color: inherit;
}

.markdown>h2 {
  border-top: 1px solid #efefef;
  padding-top: 15px;
}

.markdown p img {
  max-width: 80%;
  border: 1px solid gray;
}

.markdown p em img {
  border: none;
}

.contents ul > li {
  font-size: 12px;
}

blockquote {
  border-left-color: var(--ifm-color-primary);
  background-color: #f7f7f7;
}

.note {
  border-left-color: var(--ifm-color-primary);
  background-color: #f7f7f7;
}

.menu .menu__link {
  border-radius: 0;
}

.menu .menu__list .menu__list {
  border-left: 1px solid #eee;
}

.menu .menu__list-item .menu__list .menu__list-item {
  font-size: 14px;
}

.menu .menu__list-item .menu__list .menu__list-item .menu__list .menu__list-item {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 26px;
}

.table-of-contents li ul li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.table-of-contents li ul a.table-of-contents__link {
  font-size: 12px;
}

.flx-green {
  color: #00b852;
}
.flx-blue {
  color: #0094d9;
}
.flx-gray {
  color: #676568;
}

/* flexit css ends */

:root {
  --ifm-color-primary: #289ed0;
  --ifm-color-primary-dark: #248ebb;
  --ifm-color-primary-darker: #2286b1;
  --ifm-color-primary-darkest: #1c6f92;
  --ifm-color-primary-light: #38a9d9;
  --ifm-color-primary-lighter: #42addb;
  --ifm-color-primary-lightest: #62bbe1;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table {
    width: 100%;
}

.markdown li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pre {
  background-color: var(--ifm-pre-background);
  border-radius: var(--ifm-pre-border-radius);
  color: var(--ifm-pre-color);
  font: var(--ifm-code-font-size)/var(--ifm-pre-line-height) var(--ifm-font-family-monospace);
  margin: 0 0 var(--ifm-spacing-vertical);
  overflow: auto;
  padding: var(--ifm-pre-padding);
  word-wrap: normal;
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
}

.markdown {
    --ifm-h1-vertical-rhythm-top: 0; 
}